// Primary
$orange: #fb7413; // submit // circle active

// Neutral

$white: #ffffff; //h1
$l-grey: #959eac; // h2
$m-grey: #7c8798; // circle hover
$dark-blue: #252d37; //circle
$vdark-blue: #121417; //body bg
